@tailwind base;
@tailwind components;
@tailwind utilities;

/*TYPOGRAPHY*/
h1,h2, h3, h4, h5, h6 {
    font-family: "Kufam Variable", 'sans-serif';
}

p, li, button {
    font-family: 'Nunito Variable', sans-serif;
}

/*SHADOW*/
.custom-shadow{
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
}
.container{
    @apply mx-6 lg:mx-auto
}
.btn-blue{
    @apply px-8 py-1 text-secondary bg-lightBlue rounded-full max-w-fit
}

.btn-orange{
    @apply py-4 px-8 text-lightBlack rounded-md bg-primary font-[550]
}
.btn-orange-outline{
    @apply py-4 px-8 rounded-md border-2 border-primary font-[550]
}